### Assignment-2

##### Q1. How do you comment code in Python? What are the different types of comments?

###### We can comment in Python using # beside the code.Comments are used to make code easy to understand.There are two types of comments.
1. Single-line comment(#).
   Used for small comments 
2. Multi-line comment(""" """) or (''' ''').
   Used for big comments or explination

In [2]:
#single line comment Example 
str1="varun Kumar reddy"
print(len(str1))#prints the length of string

17

In [16]:
''' multi line comment example.
This is used for big comments or explination'''
"""this prints str1 in uppercase.
this is a built in method for strings """
print(str1.upper())

VARUN KUMAR REDDY

##### Q2. What are variables in Python? How do you declare and assign values to variables?

##### Variable is a reserved memory location in which values assigned by the user are stored.In python we need not declare the variable type as soon as we create it, based on the values assigned, python interprets it during runtime and understands its data type.

In [23]:
#How to declare and assign values to variables
var1=23#we can directly assign values and python understands its data type automaticaly
print(var1,type(var1))#prints value and its data type
var2=str(input("Enter your name:"))
"""we can prompt the user to enter value and assign a data type to it.
Python takes the value prompted by user and stores in we assigned in the data type we declared."""
print(var2)

23 <class 'int'>

Enter your name: Varun Kumar Reddy

Varun Kumar Reddy

##### Q3. How do you convert one data type to another in Python?

In [29]:
'''We can convert one data type to another using type casting.
We an convert float to int, complex to int,float, bool to int, float, string integers to int, float'''
flt1=5.439
print(type(flt1))
var3=int(flt1)#using type casting to convert float data to int data type
print(var3,type(var3))
str2="193"
bln1=True
print(int(bln1))
print(float(bln1))

<class 'float'>
5 <class 'int'>
1
1.0

##### Q4. How do you write and execute a Python script from the command line?

In [30]:
#We can write and execute python script from the command line by opening command line, typing python or python3 and path of the python script.

##### Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [31]:
my_list=[1,2,3,4,5]
print(my_list[1:3:1])#it slices and prints 2nd and 3rd element of the list

[2, 3]

##### Q6. What is a complex number in mathematics, and how is it represented in Python?

In [35]:
"""Complex numbers in mathematics are numbers expressed in the form of a+ib where a and b are real numbers and i is the imaginary part of the number.
The value of i is square root of -1.in 6+i7, 6,7 are real numbers and i is imaginary part called "iota".
In python it is represented by complex data type, but only difference is the imaginary numbers can be denoted by j """
cmp1=9+10j
print(cmp1,type(cmp1))#prints cmp1 value and its data type

(9+10j) <class 'complex'>

##### Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [36]:
"""The correct way to declare a variable is:
1.variable name starts with letters  or undersore.
2.variable cannot have space between their name.
3.variables are case-sensitive
4.variables can be named only using alpha-numeric characters and underscore."""
age = 25#this is the method to declare variable named age and assign the value 25 to it

##### Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [37]:
price=9.99
print(type(price))#prints the data type of variable price

<class 'float'>

##### Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [44]:
name="Varun Kumar Reddy"
#we can print the value in three types.normal method, f method, format method.
print(name)
print(f"{name}")
print("{}".format(name))

Varun Kumar Reddy
Varun Kumar Reddy
Varun Kumar Reddy

##### Q10. Given the string "Hello, World!", extract the substring "World".

In [47]:
str1="Hello World!"
print(str1[6:11:1])

World

##### Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [48]:
is_student = True