## Assignment 1

#### Q1. Create one variable containing following type of data:
##### (i) string
##### (ii) list
##### (iii) float
##### (iv) tuple

In [7]:
var1="ant"
var2=["carpenter", "fire", "bullet", "Red", "Black", "Army"]
var3=36.54
var4=("weaver", "banded", "Pheidole", "Tapinoma", "weaver")

#### Q2. Given are some following variables containing data:
##### (i) var1 = ‘ ‘
##### (ii) var2 = ‘[ DS , ML , Python]’
##### (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
##### (iv) var4 = 1.

###### What will be the data type of the above given variable.

In [15]:
var1 =' '
var2 ='[DS, ML, Python]'
var3 =['DS','ML','Python']
var4 =1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

#### Q3. Explain the use of the following operators using an example:
##### (i) /
##### (ii) %
##### (iii) //
##### (iv) **

In [20]:
#(i)/ is an arithmetic operator used for division of first argument by second argument
var1=246
var2=21
var3=var1/var2
print(var3)

11.714285714285714

In [25]:
'''(ii)% is an arithmetic operator used for remainder popularly known as modulus operator.
   This operator giver the remainder of the division of first argument by second argument'''
var3=var1%var2
print(var3)

15

In [26]:
"""(iii)// is an arithmetic operator known as division floor operator.
   This operator divides the first argument by second argument and round the result to nearest number."""
var3=var1//var2
print(var3)

11

In [27]:
'''(iiii)** is an arithmetic operator used as power operator.
   This operator gives the result of first argument to the power of second argument'''
var3=var1**var2
print(var3)

162045602229753983854074340862654019581429359312896

#### Q4.Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [31]:
list1 =[23, True, 39.51, "Soccer", 3+5j, 45, False, "Football", 5+6j, -61.69]
for i in list1:
    print(i)
    print(type(i))

23
<class 'int'>
True
<class 'bool'>
39.51
<class 'float'>
Soccer
<class 'str'>
(3+5j)
<class 'complex'>
45
<class 'int'>
False
<class 'bool'>
Football
<class 'str'>
(5+6j)
<class 'complex'>
-61.69
<class 'float'>

#### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [35]:
var1=34
var2=2
while var1%var2==0:
    print(var1/var2)
    break

17.0

#### Q6.Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [42]:
list2=[238,45,675,264,72,9,34,456,925,345,278,659,3724,8351,32562,12,3,52,62,234,23,52,42,45,14]
for i in list2:
    if i%3==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

238 is not divisible by 3
45 is divisible by 3
675 is divisible by 3
264 is divisible by 3
72 is divisible by 3
9 is divisible by 3
34 is not divisible by 3
456 is divisible by 3
925 is not divisible by 3
345 is divisible by 3
278 is not divisible by 3
659 is not divisible by 3
3724 is not divisible by 3
8351 is not divisible by 3
32562 is divisible by 3
12 is divisible by 3
3 is divisible by 3
52 is not divisible by 3
62 is not divisible by 3
234 is divisible by 3
23 is not divisible by 3
52 is not divisible by 3
42 is divisible by 3
45 is divisible by 3
14 is not divisible by 3

#### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [46]:
"""Mutable data types are the data types whose values can be changed by assigning a new value.
  whereas, Immutable data types are the data types whose values cannot be changed by assigning a new value."""
#Mutable
list3=["EDM", 23, -89.23, True]
list3[3]=45
print(list3)

['EDM', 23, -89.23, 45]

In [48]:
#immutable, we can see we get an syntax error
tuple1=(1, 23.93, "HipHop")
tuple1(1)=22

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (3256333032.py, line 3)