### Dictionary
1. Dictionary Basics, different data types in key elements and value elements
2. Nested dictionary, adding key and values to dictionary, acccesing  values using key,accesing nested dictionary keys and key values
3. deleting values, in-built functions
4. Ditionary comprehension

In [5]:
#1.1,1.2
d1={}
print(type(d1))
d1={"name":"Varun Kumar","email":"varun@gmail.com","degree":"BTech"}#stores key and values
print(type(d1))
print(d1)
d2={"name":"Kumar Swamy","name":"Aveen Kumar", 34:3.45, 5+6j:True}#any data type can be key and value can be any data type except special characters, sets, dictionary and list
print(d2)#prents name as overwritten value
d3={(1,2,3):"sunny weather"}
print(d3)

<class 'dict'>
<class 'dict'>
{'name': 'Varun Kumar', 'email': 'varun@gmail.com', 'degree': 'BTech'}
{'name': 'Aveen Kumar', 34: 3.45, (5+6j): True}
{(1, 2, 3): 'sunny weather'}

In [6]:
#1.2
d3={@:34,[4,34,4,2]:"varun"}#special characters are not allowed
print(d3)

SyntaxError: invalid syntax (248922785.py, line 2)

In [7]:
#1.2
d4={"course":["data science", "web dev","Java with dsa and system design"]}
print(d4)

{'course': ['data science', 'web dev', 'Java with dsa and system design']}

In [8]:
d5={"key":@}#special characters are not allowed as values too.except it all data types can be used as values

SyntaxError: invalid syntax (577897142.py, line 1)

In [23]:
#2.1
d6={"names:":["varun","kumar","reddy"]  , "subjexts:":("maths","science","history") ,  "institutes":{"LPS":"Loyola","BJC":"Bhashyam","JET":"Jain"}}
print(d6)

{'names:': ['varun', 'kumar', 'reddy'], 'subjexts:': ('maths', 'science', 'history'), 'institutes': {'LPS': 'Loyola', 'BJC': 'Bhashyam', 'JET': 'Jain'}}

In [24]:
#2.2
d6["marks"]={92,45,76}
print(d6)
d6["city"]="bangalore"

{'names:': ['varun', 'kumar', 'reddy'], 'subjexts:': ('maths', 'science', 'history'), 'institutes': {'LPS': 'Loyola', 'BJC': 'Bhashyam', 'JET': 'Jain'}, 'marks': {92, 45, 76}}

In [25]:
#2.2
print(d6["marks"])
print(type(d6["marks"]))

{92, 45, 76}
<class 'set'>

In [26]:
#2.3 & 2.4
print(d6)
d6['city'].upper()#converts it to uppercase
print(d6["institutes"])
print(d6["institutes"]["JET"].upper())#acccesing inner key and value elements and converting it into uppercase

{'names:': ['varun', 'kumar', 'reddy'], 'subjexts:': ('maths', 'science', 'history'), 'institutes': {'LPS': 'Loyola', 'BJC': 'Bhashyam', 'JET': 'Jain'}, 'marks': {92, 45, 76}, 'city': 'bangalore'}
{'LPS': 'Loyola', 'BJC': 'Bhashyam', 'JET': 'Jain'}
JAIN

In [27]:
#3.1
del d6['city']#deletes key and value of the key
print(d6)

{'names:': ['varun', 'kumar', 'reddy'], 'subjexts:': ('maths', 'science', 'history'), 'institutes': {'LPS': 'Loyola', 'BJC': 'Bhashyam', 'JET': 'Jain'}, 'marks': {92, 45, 76}}

In [28]:
#3.2
d3.clear()#deletes all keys and values of dictionary
print(d3)
len(d6)#no of keyand value pairs
print(d6)
print(d6.keys())#prints all key 
print(d6.values())#prints all key values
print(list(d6.keys()))#prints list of keys
print(list(d6.values()))#prints list of values
print(list(d6.items()))#prints both keys and values in list
d17=d6.copy()#any changes made in d6 after this will not effect d17(using this method)
print(d17)
dict18=d6
print(dict18)#any changes made in d6 will affect dict18(if we use this method)

{}
{'names:': ['varun', 'kumar', 'reddy'], 'subjexts:': ('maths', 'science', 'history'), 'institutes': {'LPS': 'Loyola', 'BJC': 'Bhashyam', 'JET': 'Jain'}, 'marks': {92, 45, 76}}
dict_keys(['names:', 'subjexts:', 'institutes', 'marks'])
dict_values([['varun', 'kumar', 'reddy'], ('maths', 'science', 'history'), {'LPS': 'Loyola', 'BJC': 'Bhashyam', 'JET': 'Jain'}, {92, 45, 76}])
['names:', 'subjexts:', 'institutes', 'marks']
[['varun', 'kumar', 'reddy'], ('maths', 'science', 'history'), {'LPS': 'Loyola', 'BJC': 'Bhashyam', 'JET': 'Jain'}, {92, 45, 76}]
[('names:', ['varun', 'kumar', 'reddy']), ('subjexts:', ('maths', 'science', 'history')), ('institutes', {'LPS': 'Loyola', 'BJC': 'Bhashyam', 'JET': 'Jain'}), ('marks', {92, 45, 76})]
{'names:': ['varun', 'kumar', 'reddy'], 'subjexts:': ('maths', 'science', 'history'), 'institutes': {'LPS': 'Loyola', 'BJC': 'Bhashyam', 'JET': 'Jain'}, 'marks': {92, 45, 76}}
{'names:': ['varun', 'kumar', 'reddy'], 'subjexts:': ('maths', 'science', 'history'), 'institutes': {'LPS': 'Loyola', 'BJC': 'Bhashyam', 'JET': 'Jain'}, 'marks': {92, 45, 76}}

In [29]:
#3.2
print(d6)
d6.pop('marks')#in pop one argument is expected(key), its values are printed

{'names:': ['varun', 'kumar', 'reddy'], 'subjexts:': ('maths', 'science', 'history'), 'institutes': {'LPS': 'Loyola', 'BJC': 'Bhashyam', 'JET': 'Jain'}, 'marks': {92, 45, 76}}

{45, 76, 92}

In [36]:
print(d6)

{'names:': ['varun', 'kumar', 'reddy'], 'subjexts:': ('maths', 'science', 'history'), 'institutes': {'LPS': 'Loyola', 'BJC': 'Bhashyam', 'JET': 'Jain'}}

In [39]:
#3.2
d={}
d.fromkeys((1,2,3),('a','b''c','d'))

{1: ('a', 'bc', 'd'), 2: ('a', 'bc', 'd'), 3: ('a', 'bc', 'd')}

In [41]:
(d6,d)

({'names:': ['varun', 'kumar', 'reddy'],
  'subjexts:': ('maths', 'science', 'history'),
  'institutes': {'LPS': 'Loyola', 'BJC': 'Bhashyam', 'JET': 'Jain'}},
 {})

In [42]:
#3.2
d.update(d6)

In [43]:
print(d)

{'names:': ['varun', 'kumar', 'reddy'], 'subjexts:': ('maths', 'science', 'history'), 'institutes': {'LPS': 'Loyola', 'BJC': 'Bhashyam', 'JET': 'Jain'}}

In [45]:
#3.2
d.get('names:')

['varun', 'kumar', 'reddy']

In [46]:
d["names:"]

['varun', 'kumar', 'reddy']

In [47]:
#4
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}