### MySql Assignment

#### Q1). What is a database? Differentiate between SQL and NoSQL databases.

##### A database is an organized collection of data that is stored and managed electronically. It provides a structured way to store, retrieve, and manage data efficiently. Databases are used in various applications and industries to handle large amounts of information.

##### SQL databases are based on the relational model, which organizes data into tables with rows and columns. They adhere to a fixed schema, meaning the structure of the data is predefined and must be strictly followed. SQL databases use SQL as the standard language for defining, manipulating, and querying the data.

##### NoSQL databases represent a wide range of database technologies that depart from the traditional relational model. They provide flexible data models that are often schema-less or have a dynamic schema. NoSQL databases are designed to handle large-scale data, high-velocity data ingestion, and distributed architectures.

##### It's important to note that the choice between SQL and NoSQL databases depends on the specific requirements of the application or project, such as the type of data, scalability needs, performance requirements, and development preferences.

#### Q2). What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

##### DDL stands for Data Definition Language. It is a subset of SQL that is used to define and manage the structure of a database and its objects. DDL statements are responsible for creating, modifying, and deleting database objects such as tables, indexes, views, and schemas.

##### CREATE:
##### The CREATE statement is used to create new database objects, such as tables, views, indexes, or schemas.

In [ ]:
CREATE TABLE Employees (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    age INT,
    salary DECIMAL(10, 2)
);

##### DROP:
##### The DROP statement is used to remove existing database objects, such as tables, views, or indexes.

In [ ]:
DROP TABLE Employees;

##### ALTER:
##### The ALTER statement is used to modify the structure of existing database objects. It allows you to add, modify, or delete columns, constraints, or indexes.

In [ ]:
ALTER TABLE Employees
ADD COLUMN email VARCHAR(255);

In [ ]:
ALTER TABLE Employees
ADD COLUMN email VARCHAR(255);

##### TRUNCATE:
##### The TRUNCATE statement is used to remove all data from a table, but keep the table structure intact. It is a faster alternative to the DELETE statement when you want to remove all records from a table.

In [ ]:
TRUNCATE TABLE Employees;

##### These DDL statements are essential for managing the structure and objects of a database. They provide the ability to create new objects, remove existing ones, and modify the structure to meet the evolving requirements of the application or system.

##### Q3). What is DML? Explain INSERT, UPDATE, and DELETE with an example.

##### DML stands for Data Manipulation Language. It is a subset of SQL used to manage and manipulate the data within a database. DML statements are responsible for inserting, updating, and deleting data in database tables.

##### INSERT:
##### The INSERT statement is used to add new records or rows into a table.

In [ ]:
INSERT INTO Employees (id, name, age, salary)
VALUES (1, 'John Doe', 30, 50000);

##### UPDATE:
##### The UPDATE statement is used to modify existing records in a table.

In [ ]:
UPDATE Employees
SET salary = 55000
WHERE id = 1;

##### DELETE:
##### The DELETE statement is used to remove records from a table.

In [ ]:
DELETE FROM Employees
WHERE id = 1;

##### Q4). What is DQL? Explain SELECT with an example.

##### DQL stands for Data Query Language. It is a subset of SQL used to retrieve and query data from a database. DQL statements, particularly the SELECT statement, are used to extract specific information from one or more database tables.

##### SELECT:
##### The SELECT statement is used to retrieve data from a database table or multiple tables. It allows you to specify the columns you want to retrieve and apply various filtering and sorting conditions.The SELECT statement is the core component of querying data from a database. It provides powerful capabilities to retrieve specific information, apply filters, perform aggregations, and sort the results according to your requirements.

In [ ]:
SELECT id, name, age
FROM Employees
WHERE age > 25
ORDER BY name ASC;

##### Q5). Explain Primary Key and Foreign Key.

##### Primary Key: A primary key is a column or a combination of columns in a database table that uniquely identifies each record. It enforces data integrity by ensuring that no two records in the table can have the same primary key value. The primary key is used as a reference point for other tables to establish relationships and maintain data consistency.

##### Foreign Key: A foreign key is a column or a combination of columns in a database table that establishes a link or relationship to the primary key of another table. It helps enforce referential integrity by ensuring that values in the foreign key columns match existing values in the primary key column of the related table. Foreign keys enable the creation of relationships between tables, enforcing data consistency and enabling efficient retrieval and manipulation of related data.

##### Q6). Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
pip install mysql-connector-python

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

##### cursor() method:

##### The cursor() method is used to create a cursor object that allows you to execute SQL queries and fetch the result.The cursor acts as a pointer or handle to the result set returned by the executed query.It provides methods to execute SQL statements and retrieve the data from the result set.

##### execute() method:

##### The execute() method is used to execute SQL queries or statements through the cursor object.It takes an SQL query as a parameter and executes it against the connected MySQL database.The execute() method can be used to perform various database operations such as SELECT, INSERT, UPDATE, DELETE, etc.

##### Q7). Give the order of execution of SQL clauses in an SQL query.

##### The general order of execution of SQL clauses in an SQL query is as follows:

##### SELECT: The SELECT clause is executed first. It specifies the columns to retrieve from the table(s) and may include functions, aliases, and expressions.

##### FROM: The FROM clause is executed next. It specifies the table(s) from which to retrieve the data.

##### WHERE: The WHERE clause is executed after the FROM clause. It filters the rows based on specified conditions.

##### GROUP BY: The GROUP BY clause is executed after the WHERE clause. It groups the rows based on specified columns or expressions.

##### HAVING: The HAVING clause is executed after the GROUP BY clause. It filters the grouped rows based on specified conditions.

##### ORDER BY: The ORDER BY clause is executed after the HAVING clause. It sorts the result set based on specified columns or expressions.

##### LIMIT/OFFSET: The LIMIT/OFFSET clause is executed last. It limits the number of rows returned or specifies a starting point for the result set.

##### It's important to note that not all clauses are required in every SQL query. The order and inclusion of clauses may vary depending on the specific query requirements. Additionally, some clauses, such as GROUP BY and HAVING, are optional and may not be present in every query.