### Sets
1. Basics of sets, list to set and tuple to set and viceversa
2. list in sets, tuple in sets
3. Case-Sensitivity in Sets, slicing operation in sets
4. iteration in sets, in built functions of sets
5.

In [11]:
#1.1 & 1.2
set1={}
print(type(set1))#before assigning values it returns type dictionary
set1={1,2,3,4.56}
print(type(set1))#aftr assigning values it returns type set
set2={1,1,1.0,2,3,2,2.0,55,343,3532,424,2,2,22,2,2}
print(set2)#set removes all duplicates(usability) it always try to store unique info only.
print(list(set2))#conversion of set to list
print(tuple(set2))#conversion of set to tuple
lst1=[1,2,3,4,65,5,434,2,234]
tupl1=(1,3,42,24,2423,4,44,2)
print(set(lst1))#conversion of list to set
print(set(tupl1))#conversion of tuple to set

<class 'dict'>
<class 'set'>
{1, 2, 3, 424, 3532, 22, 55, 343}
[1, 2, 3, 424, 3532, 22, 55, 343]
(1, 2, 3, 424, 3532, 22, 55, 343)
{65, 1, 2, 3, 4, 5, 234, 434}
{1, 2, 3, 4, 42, 44, 2423, 24}

In [12]:
#2.1
set3={9,6675,53,33,53,[4,5,33,35,24,24]}#it doesn't store list in set because list is mutable where as set is immutable

TypeError: unhashable type: 'list'

In [14]:
#2.2
set4={435,35,33,3,434,(345,45,3453,5,657675,7678,6,4354,4,7,75,4,3)}#it can store tuple because tuple is also immutable
print(set4)

{33, 434, 3, 35, 435, (345, 45, 3453, 5, 657675, 7678, 6, 4354, 4, 7, 75, 4, 3)}

In [16]:
#3.1
set5={"Varun",3,4323,42,42,453,"varun"}#didnt take out varun because python is case-sensitive
set6={"varun","varun"}
print(set5)
print(set6)
print(set6[0])#we cannot do indexing in set

{3, 4323, 453, 'varun', 42, 'Varun'}
{'varun'}

TypeError: 'set' object is not subscriptable

In [17]:
#3.2
print(set6[::-1])`#we cannot perform slicing operation on sets

TypeError: 'set' object is not subscriptable

In [19]:
#4.1
for i in set5:
    print(i)

3
4323
453
varun
42
Varun

In [34]:
#4.2
set5.add(3)#takes only one argument adds a value to set 
print(set5)#it doesnt add values already in set, tries ot maintain uniqueness at any cost
print(len(set5))#prints length of set
print(set5)
set7={34,"varun", 67}
set7.clear()#removes all the elements from the set
print(set7)

{3}
1
{3}
set()

In [37]:
set8={"Varun",3,4323,42,42,453,"varun"}
set9={"Varun",3,4323,42,42,453,34,53,5+6j,"varun"}
print(set8.difference(set9))
print(set9.difference(set8))

set()
{34, 53, (5+6j)}