### Strings and Methods, Expressions, Operators & Precedence
1. Logical Operators(and, or, not)
2. Equality Operators(is, is not, ==, !=)
3. Comparision Operators(<.>,<=,>=)
4. Arithmetic Operators(+,-,*,/,//,%,**)
5. Bitwise Operators(~,&,|,^,<<,>>)
6. Strings(Mutability, slice, cconcatination, printing substring, find, count, length functions)
7. String (split, partition, Upper and lower case, swap case, title)

In [31]:
#1.1
#Used in comparision or conditional statements 
print(False and False)
print(True and False)
print(False and True)
print(True and True)

False
False
False
True

In [32]:
#1.2
#Used in comparision or conditional statements 
print(False or False)
print(True or False)
print(False or True)
print(True or True)

False
True
True
True

In [33]:
#1.3
#Used in comparision or conditional statements 
print(not True)
print(not False)
print(not int(bool(0)))
print(not int(bool(1)))
print(not 0)
print(not 1)

False
True
True
False
True
False

In [34]:
#1.3 practice
print(not(True) * False)#not without braces typecasting(bodmas rule)
print((not(True)) * False)#not with braces (bodmas rule)

True
0

In [35]:
#2.1 & 2.2 returns true if variable/identifiers a and b point to the same object
list1=[1,2,3,4]
list2=[1,2,3,4]
print(id(list1))
print(id(list2))
print(list1 is list2)
list3=list1
print(id(list1))
print(id(list3))
print(list1 is list3)
print(list1 is not list3)
print(list1 is not list2)

140645252703168
140645252738112
False
140645252703168
140645252703168
True
False
True

In [36]:
#2.3 & 2.4 returns true if value is same and Mutability concept can also be observed through id of lists and string variables.
lst3=[5,6,7,8]
lst4=[5,6,7,8]
lst5=[56,78,23,90]
print(id(lst3))
print(id(lst4))
print(id(lst5))
print(lst3==lst4)
print(lst3==lst5)
str1="Rambo"
str2="Rambo"
str3="Kim"
print(id(str1))
print(id(str2))
print(id(str3))
print(str1!=str2)
print(str1!=str3)

140645252846592
140645252846720
140645252732288
True
False
140645252514224
140645252514224
140645252516080
False
True

In [13]:
#3
a=2
b=5
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)

False
False
True
True

In [39]:
#4
a=34
b=5
c=678
print(a+b)
print(c-b)
print(c*a)
print(b/c)
print(c//b)
print(c%a)
print(c**a)

39
673
23052
0.007374631268436578
135
32
1827298894514262811220351235523157955201489361047129986041650713518536689986753912559525160812544

In [41]:
#5 
a=6
b=2
c=3
var1=34
print(bin(var1))
print(~var1)
print(True & True)
print(False | False)
print(a^c)
print(c<<b)
print(c>>b)

0b100010
-35
True
False
5
12
0

In [42]:
"""6.String is Immutable.
     String has in-built functions.String Concatination"""
str1="welcome to data science masters"
print(str1[9:])#slice operation
print(str1[9:15])#prints the values in those indexes
print(str1[-23:-9])#prints the values in the indexes but counting the indexes backward
print(str1[:-1])#prints the values in the index backward
print(str1.find("i"))#receives the lowest index of the value in the string
print(str1)#prints the string
print(str1[::-1])#To reverse a string
print(str1[20:3:-1])#to reverse a part of string using indexes
#6 practice
course_name="Data Science Masters"
print(course_name)#prints the string
print(course_name[11:4:-1])#prints those index values in reverse order 
print(course_name + " Course")#concatination
print(course_name * 5)#prints 5 times
print(len(course_name))#prints length of the string
print(course_name.find("s",0,9))#when it cant find the value in the given indexes it returns -1
print(course_name.count("a"))#prints the no.of times the value is present in the string if none returns 0
print(course_name.count(""))#prints the length of the string when no value is given to find

o data science masters
o data
to data scienc
welcome to data science master
18
welcome to data science masters
sretsam ecneics atad ot emoclew
neics atad ot emo
Data Science Masters
ecneicS
Data Science Masters Course
Data Science MastersData Science MastersData Science MastersData Science MastersData Science Masters
20
-1
3
21

In [43]:
#7
print(course_name.split(" "))#splits the substring where ever space is present
print(course_name.split("M"))#splits the substring where ever M is present if  not present will not split
print(course_name.partition("S"))#partitions  the string whereever S is present without removing S
print(course_name.upper())#Returns the string in Upper case
print(course_name.lower())#Returns the string in lower case
print(course_name.swapcase())#returns the string with uppercase to lower and lower case to upper case
print(course_name.title())#Returns the string where each word is titlecased.

['Data', 'Science', 'Masters']
['Data Science ', 'asters']
('Data ', 'S', 'cience Masters')
DATA SCIENCE MASTERS
data science masters
dATA sCIENCE mASTERS
Data Science Masters