### Strings & List
1. Capitalize, Reversing a string
2. Removing charater from end of string(strip), lstrip, rstrip
3. Replace, expand  tabs
4. isupper, islower, isspace
5. endswith, startswith, isalnum
6. Basics of list
7. Concatination Operation, multinested list, iterating through list, checking for elements in a list.
8. max, min,pop, reverse, sort, append and extend
9. Nested list, list comprehension

In [2]:
#1.1 
var1="Data Science Masters"
var1.capitalize()# It capitalizes the first word of the string

'Data science masters'

In [16]:
#1.2
print(var1[::-1])#method 1
print(''.join(reversed(var1)))#iteration method using join and reversed
print('$'.join(reversed(var1)))
print(list(reversed(var1)))#using list and reversed(type casting)
for i in list(reversed(var1)):#Using for loop
    print(i,end="")

sretsaM ecneicS ataD
sretsaM ecneicS ataD
s$r$e$t$s$a$M$ $e$c$n$e$i$c$S$ $a$t$a$D
['s', 'r', 'e', 't', 's', 'a', 'M', ' ', 'e', 'c', 'n', 'e', 'i', 'c', 'S', ' ', 'a', 't', 'a', 'D']
sretsaM ecneicS ataD

In [34]:
#2.1,2.2 & 2.3
var2="Varun Kumar"
print(var2.strip("ar"))#used to remove only last character or characters (depends on the arguments) from the string
print(var2.strip("r"))
print(var2.lstrip("Va"))#used to remove the left most character or characters(depends on the arguments) from the string
print(var2.rstrip("Kumar"))#used to remove the right most character or characters(depends on the arguments) from the string

Varun Kum
Varun Kuma
run Kumar
Varun

In [ ]:
#3.1
var3="Greetings from Pwskills"
print(var3)
print(id(var3))
str1=var3.replace("from","to")#creates a new string replacing arguments(string is immutable) check the id for clarity
print(str1)
print(id(str1))

Greetings from Pwskills
139929702610016
Greetings to Pwskills
139929702611296

In [9]:
#3.1 practice
str1="Welcome to pwskills.Welcome to Dat cience Masters"
str2=str1.replace("Dat","Data").replace("cience","Science")#we can perform two replace operations in one statement
print(str2)

Welcome to pwskills.Welcome to Data Science Masters

In [5]:
#3.2
"Hello \tworld".expandtabs()#gives a tab  space whereever it is present

'Hello   world'

In [15]:
#4.1, 4.2 & 4.3
print(str1.isupper())#checks if it is upper
print(str1.islower())#checks if it is lower
print(str1.isspace())#checks if string is empty or not
print(" ".isspace())#checks if the character is space or not

False
False
False
True

In [22]:
#5.1,5.2
print(str1.endswith("S"))#checks if it endswith the argument given
print(str1.startswith("P"))#checks if it starts with the argument given
print(str1.isalnum())#checks if the string is all numbers

False
False
False

In [42]:
#practics
str2="go go go go"
count=0
for i in str2:
    count=count+1
print(count)
print(len(str2))

11
11

In [32]:
#practice
str3="pwskills"
for i in str3:
    print(i, end=" ")

p w s k i l l s

In [35]:
#practice
for i in range(len(str3)):
    print(i,"=",str3[i])

0 = p
1 = w
2 = s
3 = k
4 = i
5 = l
6 = l
7 = s

In [40]:
#practice
for i in range(len(str3)-1,-1,-1):#reversing a string
    print(str3[i], end=" ")

s l l i k s w p

In [54]:
#practice
name="pwskills"
vowels="AaEeIiOoUu"
for i in name:
    if i in vowels:
        print("{} is a vowel".format(i))
    else:
        print("{} is not a vowel".format(i))

p is not a vowel
w is not a vowel
s is not a vowel
k is not a vowel
i is a vowel
l is not a vowel
l is not a vowel
s is not a vowel

In [69]:
#6
print(type([]))#reutrns data type of the argument
lst1=["pw", "skills", "data", "science", "masters"]
strg1="Varun Kumar"
print(list(strg1))#prints string characters as list
print(list(strg1.split(" ")))#same as below
print(strg1.split(" "))#retun type of split function of string is list
print(lst1[1])
lst1[3]="Science"
print(lst1)
print(lst1[-2])
print(lst1[::-2])
print(lst1[-5::-2])

<class 'list'>
['V', 'a', 'r', 'u', 'n', ' ', 'K', 'u', 'm', 'a', 'r']
['Varun', 'Kumar']
['Varun', 'Kumar']
skills
['pw', 'skills', 'data', 'Science', 'masters']
Science
['masters', 'data', 'pw']
['pw']

In [82]:
#7.1, 7.2,7.3 & 7.4
print(lst1 + ["element", 3])
lst2= lst1 + [["element",3]]#Multinested list
print(lst2)
print(lst2[-1][1])#to get to multinested list values
print(lst1 * 2)#prints list 2 times
if "Science" in lst1:
    print("Science is present in the list")
for elements in lst1:
    if elements=="Science":
        print("Science is present")
        break
lst3=[1,2,3,4,5,67,21]
print(4 in lst3)# to chekc an element is present in a list or not

['pw', 'skills', 'data', 'Science', 'masters', 'element', 3]
['pw', 'skills', 'data', 'Science', 'masters', ['element', 3]]
3
['pw', 'skills', 'data', 'Science', 'masters', 'pw', 'skills', 'data', 'Science', 'masters']
Science is present in the list
Science is present
True

In [105]:
#8.1, 8.2, 8.3,8.4, 8.5 & 8.6
lst1=["Zebra", "Monkey", "Donkey",  "Lion"]
lst2=[1,34,56,757,22,9012]
print(max(lst1))#maximum ascii elements of the list
print(max(lst2))
print(min(lst1))#minimum ascii elements of the list
print(min(lst2))
print(lst1.pop(2))#will pop of the argument given or will pop of the last element
print(lst1)
new_list=["q","e", "r", "f", "s", "t", "u"]
print(new_list[::-1])#prints the list elements in reverse order
new_list.reverse()#reverses the list elements
print(new_list)
new_list.sort()#sorting the  elements in list  
print(new_list)
new_list.sort(reverse=True)#sorts elements in reverse order
print(new_list)
new_list.append("v")#adds an element in last index
print(new_list)
new_list.extend(["k","a"])#adds elements in last indexes
print(new_list)

Zebra
9012
Donkey
1
Donkey
['Zebra', 'Monkey', 'Lion']
['u', 't', 's', 'f', 'r', 'e', 'q']
['u', 't', 's', 'f', 'r', 'e', 'q']
['e', 'f', 'q', 'r', 's', 't', 'u']
['u', 't', 's', 'r', 'q', 'f', 'e']
['u', 't', 's', 'r', 'q', 'f', 'e', 'v']
['u', 't', 's', 'r', 'q', 'f', 'e', 'v', 'k', 'a']

In [114]:
#9.1
lst1=[1,2,3]
lst2=[4,5,6]
lst3=[7,8,9]
matrix = [lst1, lst2, lst3]
print(matrix)
print(matrix[1][2])
print(matrix[2][1:])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6
[8, 9]

In [8]:
#9.2
print([i for i in range(0,20,2)])
print([i if i%2!=0 else "Even" for i in range(20)])
print([i if i%2==0 else "odd" for i in range(20)])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
['Even', 1, 'Even', 3, 'Even', 5, 'Even', 7, 'Even', 9, 'Even', 11, 'Even', 13, 'Even', 15, 'Even', 17, 'Even', 19]
[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10, 'odd', 12, 'odd', 14, 'odd', 16, 'odd', 18, 'odd']

In [10]:
#9.2 Assignment
lst=[1,2,3,4,5,6,7,8]
even=0
odd=0
for i in lst:
    if i%2==0:
        even+=i
    else:
        odd+=i
print(even)
print(odd)

20
16

In [13]:
#9.2 assignment alternative
even=sum([num for num in lst if num%2==0])
print(even)
odd=sum([num for num in lst if num%2!=0])
print(odd)

20
16

In [16]:
#9.2 examples
print([num**2 for num in lst])
print([num for num in lst if num>0])

[1, 4, 9, 16, 25, 36, 49, 64]
[1, 2, 3, 4, 5, 6, 7, 8]

In [17]:
#9.2 example
words=["apple", "banana", "cherry", "date"]
print([word[0] for word in words])

['a', 'b', 'c', 'd']

In [21]:
#9.2 example
celsius_temp=[0,10,20,30,40,50]
print([(9/5)*temp+32 for temp in celsius_temp])

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [24]:
#9.2 example
list=[[1,2,3],[4,5,6],[7,8,9]]
print([num for sublist in list for num in sublist])

[1, 2, 3, 4, 5, 6, 7, 8, 9]